<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script type="text/javascript" src="public.js" charset="utf-8"></script>
</head>


<script language="javascript">


// 	function clear() {
// 		document.getElementById("result").value = """;
// 		document.getElementById("msg").value = "";
// 		document.getElementById("droid").src = "ic_launcher.png";
// 	}




</script>
<body>
    <input type="button" value="返回首页" onclick="homePage()">
	<div style="margin-top: 100px" align="center">
		<h1>底部Bar切换</h1>
        <input type="button" value="home" onclick="showTabbar('home')"><br /><br />
        <input type="button" value="expendManage" onclick="showTabbar('expendManage')"><br /><br />
        <input type="button" value="bill" onclick="showTabbar('bill')"><br /><br />
        <input type="button" value="records" onclick="showTabbar('records')"><br /><br />
        <input type="button" value="calendar" onclick="showTabbar('calendar')"><br /><br />
            
	</div>
	<div style="margin-top: 100px" align="center">
		<h3>调用结果</h3>
		调用结果 <input type="text" value="wait." id="state"> <br /> <br/ />
		错误信息 <input type="text" value="" id="msg"> <br /> <br />
		
	</div>
</body>
</html>
